@media (max-width: 1400px) {
    .sec-slogan .slogan::after{
       right: -178px;
        
    }
    }
@media (max-width: 1200px) {
    li:nth-child(6)::after{
           display: none;     
        }
    .sec-slogan{
       text-align: center;
       padding: 28px 10px;
    }
    .sec-slogan-name{
        text-align: center;
    }
    .sec-slogan-h3{
        padding: 0 20px;
    }
    .sec-slogan .slogan::after{
        right: -20px;
     }
     .sec-slogan .slogan::before{
        left: -30px;
     }
   
    
    }
       
@media (max-width: 991px) {
   
    .sec-banner{
        background-size:auto;
        height: auto;
        padding: 30px 50px;
        
    }
    .br-butm{
        padding-bottom: 10px;
    }
}
@media (max-width: 600px) {
   
   .wrapper{
       width: 100%;
       margin: 0 auto;
       overflow-x: hidden;
   }
   .sec-banner{
       background-size: cover;
       height: auto;
   }
   .sec-banner-butn-apple{
       margin: 10px auto;
   }
   .sec-banner-text--text1{
       text-align: center;
   }
   .sec-banner-butn{
       display: flex;
       flex-direction: column;
       width: 100%;
       margin: auto;
   }
}
@media (max-width: 420px) {
   
    .wrapper{
        width: 100%;
        margin: 0 auto;
        overflow-x: hidden;
    }
    .sec-banner-text--text1{
        text-align: center;
    }
    .sec-banner-butn{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
 } 
 @media (max-width: 596px) {

    .sec-banner-butn{
        padding: 0 auto;
    }
    .sec-banner-butn-apple{
        width: 100%;
    }
    .sec-slogan .slogan::after{
        position: static;
     }
     .sec-slogan .slogan::before{
        position: static;
        margin-right: 15px;
     }

}
