@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.wrapper {
  margin-bottom: 30px;
  overflow-x: hidden;
}

li a {
  color: #2E4765 !important;
  position: relative;
}

li a:hover:after {
  content: "";
  width: 100%;
  border-bottom: 4px solid orangered;
  position: absolute;
  bottom: -22px;
  left: 0;
}

li:nth-child(6) {
  position: relative;
}

li:nth-child(6)::after {
  content: '';
  width: 2px;
  height: 114%;
  position: absolute;
  top: -9px;
  right: -30px;
  background-color: #d3d3d3;
}

li:last-child a:hover::after {
  border-bottom: none;
}

.br-butm {
  border-bottom: 2px solid #d3d3d3;
}

.tp-header-li--cart--bg {
  background-color: #EF4C00;
  color: white !important;
  border: none;
  width: auto;
}

.tp-header-h1 {
  color: #EF4C00 !important;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.sec-slogan {
  font-family: 'Roboto', sans-serif;
  padding: 28px 144px;
}

.sec-slogan .slogan {
  position: relative;
}

.sec-slogan .slogan::before {
  content: '"';
  position: absolute;
  font-weight: bolder;
  color: #2E4765;
  top: -20px;
  left: -54px;
  font-size: 34pt;
  font-style: italic;
}

.sec-slogan .slogan::after {
  content: '"';
  position: absolute;
  font-weight: bolder;
  color: #2E4765;
  top: 36px;
  right: -350px;
  font-size: 34pt;
  font-style: italic;
}

.sec-slogan-h3 {
  color: #2E4765;
  font-size: 25pt;
  position: relative;
}

.sec-slogan-name {
  display: block;
  text-align: right;
  font-size: 14pt;
  color: #EF4C00;
  margin-top: 22px;
}

.sec-banner {
  background-image: url("./10882/10882.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 448px;
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0 50px 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.sec-banner-text {
  font-size: 29pt;
}

.sec-banner-text--text2 {
  display: block;
}

.sec-banner-text--text3 {
  display: block;
}

.sec-banner-butn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec-banner-butn-apple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #B30733;
  border-radius: 5px;
  width: 48%;
  height: 75px;
  color: #ffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.sec-banner-butn-apple:hover {
  color: #ffff;
}

.sec-banner-butn-apple i {
  font-size: 40pt;
  margin-right: 10px;
}

.sec-banner-butn-apple--dltext {
  text-align: left;
}

.sec-banner-butn-apple--dltext span {
  display: block;
  font-size: 15pt;
  font-weight: bold;
}

.sec-banner-butn-google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: #B30733;
  border-radius: 5px;
  padding: 9px 17px;
  width: auto;
  height: 75px;
  color: #ffff;
}

.sec-banner-butn-google i {
  font-size: 42pt;
  margin-right: 10px;
}

.sec-banner-butn-google--dltext {
  text-align: left;
}

.sec-banner-butn-google--dltext span {
  display: block;
  font-size: 20pt;
  font-weight: bold;
}

.sec-meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  margin: 15px 0;
}

.sec-meal-search-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-meal-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 40px;
  background-color: #d3d3d3;
  border-radius: 20px;
  position: relative;
}

.sec-meal-search::after {
  content: '\f002';
  position: absolute;
  color: #B30733;
  font-size: 16pt;
  font-family: "Font Awesome 5 Pro";
  right: 15px;
}

.sec-meal-search--searchbtn {
  margin: 0 20px;
  border: none;
  width: 366px;
  background-color: transparent;
  overflow: hidden;
  padding-right: 20px;
}

.sec-meal-search--searchbtn:focus {
  outline: none;
}

.sec-meal-search--searchbtn--icon {
  color: #B30733;
  font-size: 16pt;
}

.sec-meal-settings--seticon {
  background-color: #EF4C00;
  color: #ffff;
  font-size: 16pt;
  margin-left: 15px;
}

.sec-meal-settings--seticon:hover {
  color: #ffff;
}

.sec-meal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-meal-title-h5 {
  color: #B30733;
  font-weight: bold;
}

.sec-popular-title-h5 {
  color: #B30733;
  font-weight: bold;
  position: relative;
}

.sec-popular-title-h5::after {
  content: '';
  position: absolute;
  background-color: #d3d3d3;
  height: 2px;
  width: 369%;
  top: 11px;
  left: 99px;
}

.sec-popular {
  padding: 0 10px;
  width: auto;
  margin: 10px 0;
}

.sec-cat {
  margin: 20px;
}

.sec-cat-butn {
  background-color: #d3d3d3;
  color: #2E4765;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px 20px 10px 0;
}

.sec-cat-butn:hover {
  background-color: #EF4C00;
  color: #ffff;
}

.sec-gallery1-card {
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  padding-bottom: 10px;
  height: auto;
  margin: 15px auto;
}

.sec-gallery1-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 240px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.sec-gallery1-card--t1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 15px 0 15px;
  color: #B30733;
  position: relative;
}

.sec-gallery1-card--t1::after {
  content: '\f2e7';
  font-family: "Font Awesome 5 Pro";
  font-size: 18pt;
  position: absolute;
  background-color: #B30733;
  color: #ffff;
  text-align: center;
  padding: 7px 0;
  width: 50px;
  height: 50px;
  top: -63px;
  border-radius: 30px;
}

.sec-gallery1-card--t2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-gallery1-card--t2--str {
  margin-right: 15px;
  color: #EF4C00;
}

.sec-gallery1-card--t2--str i:last-child {
  opacity: 24%;
  margin-right: 15px;
}

.sec-gallery1-card--t2 span {
  color: #2E4765;
}

.sec-gallery1-card--t3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.sec-gallery1-card--t3--cntry span {
  background-color: #d3d3d3;
  padding: 5px 8px;
  border-radius: 10px;
  margin-right: 10px;
  color: #2E4765;
}

.sec-gallery1-card--t3--time {
  color: #2E4765;
}

.heart {
  width: 8px;
  height: 8px;
  background-color: #B30733;
  position: relative;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.heart::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #B30733;
  border-radius: 50%;
  top: -5px;
  left: 0px;
}

.heart::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #B30733;
  border-radius: 50%;
  top: 0px;
  right: -5px;
}

.gstar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.star {
  height: 0;
  width: 0;
  position: relative;
  border-bottom: 7px solid #EF4C00;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.star::before {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border-bottom: 7px solid #EF4C00;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
  top: 1px;
  left: -11px;
}

.star::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border-bottom: 9px solid #EF4C00;
  border-left: 3px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  top: -5px;
  left: -7px;
}

.op {
  opacity: 30%;
}
/*# sourceMappingURL=styles.css.map */