$b1:#2E4765;
$b2:#172433;
$bl:#FFFFFF;
$orangered: #ff4500;
$redpink:#dc143c;

// .line{
//     border: 1px solid blue;
// }
.wrapper{
    border: 1px solid red;
    padding: 0 60px;
}
.head-top-container-1{
    border-bottom: 1px solid lightgray;
    padding:13px 10px;
    &--logo{
        text-align: center;
        color: $orangered;
    }
}

.head-top-container-2{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid lightgray;
  
    img{
        border-radius: 100%;
    }
       a {
        position: relative;
       
        &:hover:after{
            content: "";
            width: 100%;
            border-bottom: 4px solid orangered;
            position: absolute;
            bottom: -17px;
            left: 0;
        }
    }
}
.head-top-container-3{
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    padding:13.5px 20px;
    button{
        background-color: orangered;
        border:none;
        border-radius: 20px;
        color: white;
        &:hover{
            color: white;
        }
    }
}
.sec-banner-slogan{
    width: 100%;
    padding: 35px;
  }
  .dlbutns{
      display: flex;
      justify-content: space-between;
      width: 467px;
    //   border: 1px solid red;
  }
  .sec-banner-background{
     background-image: url("./10882/10882.png");
     background-size: cover;
     background-repeat: no-repeat;
     border-radius: 10px;
     border:1px solid green;
     padding: 34px 46px;
     &--text{
         color: white;
         font-size: 36pt;
     }
     &--applebtn{
         background-color:#dc143c;
         color: white;
         padding: 8px 15px;
         display: flex;
         width: 220px;
         height: 71px;

         &:hover{
             color: white;
         }
         &--i{
             font-size: 40pt;
             margin-right: 10px;
         }
         span{
             display: block;
             font-size: 15pt;
             text-align: left;
         }
     }
     &--googlebtn{
        background-color:red;
        color: white;
        padding: 8px 15px;
        display: flex;
        width: 220px;
        height: 71px;

        &:hover{
            color: white;
        }
        &--i{
            font-size: 40pt;
            margin-right: 10px;
        }
        span{
            display: block;
            font-size: 15pt;
            text-align: left;
        }
    }
  }
 
  .sec-meal-search{
    //   border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    background-color: #EFF3F3;
    margin: 3px 0;
    height: 45px;
    border-radius: 20px;
    
    
    &--searchbtn{
        background-color: transparent;
        border: none;
        width: 100%;

        
        &:focus{
            outline: none;
        }
    }
   
  }
  .sec-banner-slogan-h2{
      position: relative;
      left: 80px;
    color: $b1;
      &::before{
          content: '"';
          font-size: 36pt;
          position: absolute;
          left:-55px;

      }
      &::after{
        content: '"';
        font-size: 36pt;
        position: absolute;
        right: 110px;
        bottom: 10px;
    }
    span{
        color:orangered;
        font-size: 15pt;
        display: block;
        text-align: right;
        margin-right: 130px;
    }
  }
 
  .sec-meal-search--searchbtn--icon{
      font-size: 18pt;
      margin: 10px;
  }
 .sec-meal-title{
     margin: 10px 0;

     &-h3{
         color: $redpink;
     }
 }
 .popular{
     position: relative;

     &:after{
          content: '';
         position: absolute;
         height: 2px;
         right: 0;
         width: 90%;
         top: 45%;
         background-color:lightgray;
     }
     h3{
         color: $redpink;
     }
 }
 .cat-meal{
     margin: 10px 0;
     padding: 15px 0;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     
 }
 .butn{
     background-color: #EFF3F3;
     border-radius: 20px;
     padding: 10px 20px;
     
     margin-right: 25px;
     &:hover{
         background-color: orangered;
         color: white;
     }
 }
 .sec-meal-settings--seticon{
     &:hover{
         color: white;
     }
 }
  .sec-meal{
      margin: 20px 0;
      padding: 11px 0;
      height: 75px;  
      
     &-settings{

      button{
          background-color: orangered;
          width: 50px;
          height: 50px;
          border-radius: 25px;
          color: white;
          font-size: 18pt;
      }
     }
  }
  .men-gallery1-card{
      border-radius: 20px;
      border: 1px solid lightgray;
      img{
          width: 100%;
          height: 230px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
      }
  }
  .t1{
      display: flex;
      justify-content: space-between;
      padding: 10px 10px 3px 10px;
      color: $redpink;
  }
  .t2{
      display: flex;
      padding: 0 10px;

      &-str{
          color:$orangered;

          i:last-child{
            opacity: 24%;
            margin-right: 15px;
          }
      }
      
      
  }
  .t3{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 5px 10px;
}
.popular{
    margin: 20px 0;
}